:root{
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --spanish-gray: #889696ff;
    --xanadu: #5f7470ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    line-height: 2.2;
    background-color: var(--timberwolf);
    font-family: 'Satisfy', cursive;
    
}
p {font-size: larger;
    margin: 0;
   
}
 
h1  {
     /* margin-bottom: 0; */
    background-color: var(--dark-sea-green);
    text-align: center;
   
}

h2 {margin-bottom: 0;
    background-color: var(--dark-sea-green);
    text-align: center;
    /* font-size: larger; */
}
/* Container one */
.container-one{
   
    background-color: var(--yellow-green-crayola);
   margin: 50px auto;
   width: 50%;
   padding: 8px;
}

.pone-img {
    max-width: 100%;
    float: left;
   
    padding: 0 10px 0 0 ;
}
.text {
    margin-top: 10px;
    text-align: justify;
}
/* Container two */
.container-two{
    background-color: var(--granny-smith-apple);
    margin: 50px auto;
   width: 50%;
   padding: 8px;
}
.ptwo-img {
    max-width: 100%;
    float: left;
   
    padding: 0 10px 0 0 ;
}

/* Container three */
.container-three {
    background-color: var(--aero-blue);
    margin: 50px auto;
   width: 50%;
   padding: 8px;
}

.pthree-img{
    max-width: 100%;
    float: left;
   
    padding: 0 10px 0 0 ;
}

/* Container four */
.container-four
{background-color: var(--laurel-green);
    margin: 50px auto;
   width: 50%;
   padding: 8px;

}
.pfour-img{
    max-width: 100%;
    float: left;
   
    padding: 0 10px 0 0 ;
}

#btn{
    
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#homebtn{
    
    position: fixed; /* Fixed/sticky position */
    bottom: 0px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */ 
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    
  }