/* Color pallete */
:root{
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --spanish-gray: #889696ff;
    --xanadu: #5f7470ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    font-family: 'Halant', serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--spanish-gray);
}

#main-holder {
    width: 50%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--timberwolf);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin-top: 0;
    margin-bottom: 10%;
  }

  #signup-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    
  }

  .signup-form-field::placeholder {
    color: #3a3a3a;
  }

  .signup-field {
    border: none;
    border-bottom: 1px solid #691616;
    margin-bottom: 8px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 4px 3px;
  }
/* Sign up button */
  #signupButton {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: var(--xanadu);
    cursor: pointer;
    outline: none;
    /* margin-top: 10%; */
  }
/* Error message */
  #signup-error-msg{
    color: red;
    font-weight: bold;

  }

  #name-field, #phone-field, #email-field, #password-field, #city-field{
    border-radius: 10px;
    border: none;
    padding: 5px;
    opacity: 70%;
    text-align: center;
}
/* Home button */
#btn{
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;  
  outline: none; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  
}

