:root{
    --dark-sea-green: #94ae89ff;
--laurel-green: #a8bca1ff;
--yellow-green-crayola: #c0da74ff;
--granny-smith-apple: #beedaaff;
--aero-blue: #d5ffd9ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html { box-sizing: border-box;
    line-height: 2.5rem;
    background-color: white;
}
p {
    margin: 0;
    font-family: 'Halant', serif;
}
.wrapper {
    /* display: grid; */
    /* grid-gap: 20px; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 70px auto;
    width: 60%;
    padding: 8px;
    box-shadow: var(--shadow);
    background-color: antiquewhite;
    border-radius: 5px;
    
}

div {
    text-align: justify;
 
    border-color: black;
    box-shadow: var(--shadow);
}
img {
    max-width: 100%;
    height: auto; 
    
}
h2{
    text-align: center;
}
#container-one{
    border-radius: 10px;
    background-color: var(--yellow-green-crayola);
    
}
.jack{
    /* float:inline-end;
    /* padding: 0 10px 0 0 ; */
    /* float: left; */
   
    border: rgb(17, 17, 16);
    width: 25%;
    border-radius: 2%;
    float:left;
    /* margin-right: 25px; */
    padding: 10px 10px 0 15px ;
}
.p-one{
    display: flexbox;
}
#more {display: none;}
#container-two{
    border-radius: 10px;
    background-color: var(--aero-blue);
}

#expand {display: none;}

#container-three{
    border-radius: 10px;
    background-color: var(--yellow-green-crayola);
}
#seemore{display: none;}
#container-four{
    border-radius: 10px;
    background-color: var(--aero-blue);
}
#open{display: none;}

#container-five{
    border-radius: 10px;
    background-color: var(--yellow-green-crayola);

}
#more2 {display: none;}
#container-six{
    border-radius: 10px;
    background-color: var(--aero-blue);
}
#more3 {display: none;}
#container-seven{
    border-radius: 10px;
    background-color: var(--yellow-green-crayola);
}

#more4 {display: none;}
.covid-reg {
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 70%; */
}
.readMore{
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: 60%;
}
.readMore:hover{
    background-color: gray;
}

#btn{
    
    position: fixed; /* Fixed/sticky position */
    bottom: 8px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */ 
    outline: none; /* Remove outline */
    color: rgb(159, 32, 32); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    
  }

  #top-btn {
   
    
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 13px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
  
}