:root{
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --spanish-gray: #889696ff;
    --xanadu: #5f7470ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  html{
    background-color: var(--xanadu);
    font-family: 'Halant', serif;
    color:#2F4F4F;

  }
  #wrapper{
    margin: 20px auto;
    width: 60%;
    padding: 40px;
    box-shadow: var(--shadow);
    background-color:var(--spanish-gray);
    border-radius: 5px;
    display: grid;
    /* grid-gap: 8px; */
    text-align: center;
    background-color: var(--ash-gray)
  }

  #btn{
    
    position: fixed; 
    bottom: 8px; 
    right: 30px; 
    z-index: 99; 
    outline: none; 
    color:white; 
    cursor: pointer; 
    padding: 16px; 
    
  }
 
  /* .row{
    background-color: var(--alabaster);
  } */

  h4{
    background-color:#D3D3D3;
  }