

:root{
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --spanish-gray: #889696ff;
    --xanadu: #5f7470ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Amethysta', serif;
    line-height: 2rem;
    background-color:white;
    /* background-image: url(/images/7.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(150, 191, 202, 0.3), rgba(30, 30, 20, 0.7)),
    url("/images/7.jpg");
}

#bg-img{
    color: white;
    margin: auto;
    text-shadow: rgb(15, 15, 15) 1px 0 10px;
}

body{
    margin: 30px 50px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0 ;
    max-width: 200%;
    padding: 8px;
    text-align: center;
    max-height: 5%;

}

ul {
    text-align: justify;
}
.onehour {
    color: red;
    margin-bottom: 5%;
}

#top-container{
    /* max-height: 100px;
    height: 100%; */

    align-self: flex-start;
    display: grid;
    justify-items:flex-start;
    align-items:flex-start;
    background-color: var(--timberwolf);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin: 50px auto;
    width: 60%;
    padding: 8px;
    
   
}
 #middle-container{
    align-self: flex-start;
    display: grid;
    justify-items:flex-start;
    align-items:flex-start;
    background-color: var(--alabaster);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin: 50px auto;
    width: 60%;
    padding: 8px;
 }

 #bottom-container{
    align-self: flex-start;
    display: grid;
    justify-items:flex-start;
    align-items:flex-start;
    background-color: var(--timberwolf);
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin-bottom: 100%;
    margin: 50px auto ;
    width: 60%;
    padding: 8px;
  
 }

.dg {
    margin: 0;
    
}

/* h1{
    color: var(--xanadu);
    text-shadow: rgb(149, 14, 14);
    text-decoration: double;
} */

     .btn {
        background: #5fa477;
        border-radius: 28px;
        font-family: 'Halant', serif;
        color: #ffffff;
        font-size: 18px;
        padding: 2px 6px 2px 6px;
        text-decoration: none;
        margin-left: 15%;
      }
      
      .btn:hover {
        background: #8b8e84;
        
        text-decoration: none;
      }

      #home-button{
        position: fixed; 
        bottom: 8px; 
        right: 30px; 
        z-index: 99; 
        outline: none; 
        color: rgb(242, 235, 235); 
        cursor: pointer; 
        padding: 16px; 
      }
      
      footer{
        color: var(--alabaster);
        text-align: center;
      }