:root{
    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --spanish-gray: #889696ff;
    --xanadu: #5f7470ff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.row {
    display: flex;
    margin: 50px 0 0 28%;
    width: 60%;
    align-items: center;
    /* background-color: white; */
    
  }
  
  .column {
    flex: 50%;
    
  }

 
  html{
    box-sizing: border-box;
    font-family: 'Halant', serif;
    background-color: var(--timberwolf);
  }

  p{
    text-align: justify;
    text-shadow: rgb(18, 19, 19) 1px 0 10px;
    color: white;
  }
img{
    max-width: 50%;
    margin-top: 20px;
    height: auto; 
    align-self:center;
    margin: 0;
}

.four{
    width: 30%;
    align-items: center;
}

#wrapper{
    margin: 70px auto;
    width: 60%;
    padding: 8px;
    box-shadow: var(--shadow);
    background-color: var(--ash-gray);
    border-radius: 5px;
      /* align-items: center; */
      /* display: grid; */
      /* grid-gap: 20px; */
      
}

header{
    text-align: center;
    margin-top: 10%;
    font-size: 2rem;
    text-shadow: rgb(18, 19, 19) 1px 0 10px;
    color: white;
}

footer{
    text-align: center;
    background-color: white;
}

#btn{
    
    position: fixed; /* Fixed/sticky position */
    bottom: 8px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */ 
    outline: none; /* Remove outline */
    color: rgb(159, 32, 32); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    
  }